<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">TSUNAGU</h1>
    <h2 class="lead">〜後継者マッチングサイト〜</h2>
    <hr class="my-4">
    <p>地方の農業・食・工芸を中心とした日本の匠たちが持つ技術や製品を後世に伝え、継承することを目的としたプラットフォームです。</p>
    <br/ >高齢化が進む地方では、後継者不足が深刻化しており、伝統的な工芸、農業、食文化の継承が危ぶまれています。
    <p>特に現役の個人事業主は、60代後半から80代が多くまた後継者もおらず、閉業が相次いでいます。</p>
    <p>そこで、日本の強み工芸、農業、食に焦点を当てた、事業者と後継候補者を支援するためのアプリを開発しました。<br/ >登録される方は業務で多忙ですので、文章を作ることをAIにサポートしてもらうことで登録を容易にします。</p>
    <p>地域の高齢の個人事業者はパソコンに不慣れな方が多く、本人または、地方自治体・地域活性化事業の受託会社、個人事業主のお子様などご家族の方にご協力いただき、貴重な匠（事業者）の歴史、技術、人生を残していただきたいです。</p>
    <p>失われたものは、簡単に元には戻りません。匠の技術は世界でも、日本ブランドとして、安心・安全・質が高く評価されています。これからは世界との物流も活発になることが予想されています。匠たちは自分たちの歴史や技術を紹介し、後継者候補と匠をマッチングすることで、技術や製品を引き継ぐことができ、日本の文化や技術を守ることに繋がります。匠と後継者候補を応援するアプリです。</p>

  <h2>機能</h2>
  <ol>
    <li>ログイン機能<br>
      登録をすると、気になるユーザーをフォロー、メッセージを送ることが出来ます。登録のない方は、閲覧のみとなってます。<br>
      Userログイン時に、匠（事業者）か、後継候補者か選びます。User登録後に、匠（事業者）または、後継候補者のプロフィールの登録をします。
    </li><br/ >
    <li>匠（事業者）プロフィール登録・編集・削除機能<br>
      匠（事業者）は、会社名、居住県名、市町村、後継候補者募集時のタイトル・内容、プロフィール、技術分野、画像を登録、編集、削除することが出来ます。また、匠の製品を登録して紹介することが出来ます。<br>
      そのため、AIのchatGPTを活用することが出来ます。匠（事業者）への質問を準備しました。この質問にキーワードでいくつか答えてもらうことで、その内容を元にして、後継候補者募集時のタイトル・内容、プロフィール、製品のキャッチコピーやPR文章案を作ってもらいます。
    </li><br/ >
    <li>後継候補者のプロフィール登録・編集・削除機能<br>
      後継候補者は、名前、興味のあるカテゴリー、希望する技術分野、居住する県名、プロフィールを登録、編集、削除することが出来ます。
    </li><br/ >
    <li>検索機能<br>
      匠（事業者）一覧から、県名、カテゴリー、キーワード検索が出来ます。後継候補者一覧から、県名、希望するカテゴリー、キーワード検索が出来ます。
    </li><br/ >
    <li>フォロー機能<br>
      気になるユーザーを、匠（事業者）または後継候補者のプロフィールページの詳細から、フォローすることが出来ます。また、自身のユーザー詳細にてフォロー・フォローされてる人を一覧で見ることが出来て、フォロー・アンフォローすることが出来ます。
    </li><br/ >
    <li>メッセージ機能<br>
    気になるユーザーに、匠（事業者）または後継候補者のプロフィールページの詳細から、メッセージをすることが出来ます。また、自身のユーザー詳細にて、フォロー・フォローされてる人へメッセージを送ることが出来ます。
    </li><br/ >
    <br/ >
      <p>匠の歴史・技術を残す・支援するプラットフォームは、日本の伝統的な技術や文化を守り、後世に伝えることを目的として開発しました。<br/ >１人１人、あなたのご協力が必要です。</p>
      <%= link_to "Webサイトへ", craftmen_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>