<div class="d-flex justify-content-center align-items-center">
  <h1>候補者を編集する</h1>
</div>

<%= render 'form', candidate: @candidate %>

<p>
  <%= link_to 'Show', @candidate, class: 'btn btn-sm btn-outline-secondary' %> |
  <%= link_to 'Back', candidates_path, class: 'btn btn-sm btn-outline-secondary' %>
</p>
