@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* フッターの高さ */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* フッターの高さ */
  line-height: 60px; /* フッターの高さを中心にテキストを配置 */
  background-color: #7de2f7;
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* 垂直方向の中央に配置 */
  justify-content: center; /* 水平方向の中央に配置 */
}

.card-body {
  height: 210px;
  overflow: auto;
}