<div class="d-flex justify-content-center align-items-center">
  <h2>匠（事業者）を編集する</h2>
</div>

<%= render 'form', craftman: @craftman %>

<p><%= link_to '詳細', @craftman, class: 'btn btn-sm btn-outline-secondary' %> |
<%= link_to '戻る', craftmen_path, class: 'btn btn-sm btn-outline-secondary' %></p>
