<h1>編集する</h1>

<%= render 'form', craftman: @craftman %>

<p><%= link_to 'Show', @craftman, class: 'btn btn-sm btn-outline-secondary' %> |
<%= link_to 'Back', craftmen_path, class: 'btn btn-sm btn-outline-secondary' %></p>
