<div class="d-flex justify-content-center align-items-center">
<h1>匠の新規登録</h1>
</div>

<%= render 'form', craftman: @craftman %>

<p><%= link_to '戻る', craftmen_path, class: 'btn btn-sm btn-outline-secondary' %></p>
