<div class="d-flex justify-content-center align-items-center">
<h1>製品の編集</h1>
</div>

<%= render 'form', product: @product %>

<p><%= link_to '詳細', @product, class: 'btn btn-sm btn-outline-secondary' %></p>
